.dropdown {
	--content-start-top: calc(100% + 0.3rem);
	--content-start-left: 0;
	display: inline-block;
	position: relative;
}
body.dark-mode {
	--content-box-shadow: 0 2px 5px 4px rgba(255, 255, 255, 0.1);
}
body.light-mode {
	--content-box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.2);
}

[data-dropdown-button] {
	cursor: pointer;
	transition: color 250ms ease-in-out;
}

.dropdown.active [data-dropdown-button] {
	color: var(--primaryColor--);
}

.dropdown-menu {
	position: absolute;
	left: var(--content-start-left);
	top: var(--content-start-top);
	color: var(--onSurfaceColor--);
	background-color: var(--surfaceColor--);
	padding: 0.8rem 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	opacity: 0;
	transform: translateY(-10px);
	transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
	pointer-events: none;
	box-shadow: var(--content-box-shadow);

	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

[data-dropdown].active .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown-menu .dropdown-item {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 0.8rem 1.5rem;
	font-size: 0.95rem;
	border-radius: 1rem;
	transition: color 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
	color: var(--primaryColor--);
}

.dropdown-menu .dropdown-item:active {
	transform: scale(0.95);
}

/*.dropdown-menu .dropdown-item:hover svg{
    fill: var(--primaryColor--)
} */

.dropdown-item svg {
	width: 20px;
	height: 20px;
}
