#Backends dependencies

# fast-escarpment-67223

.vscode

.env

*.db

app_features/

*__pycache__

*WEB_SOCKETS

/backend/*.env
/frontend/*.env

backend/MEDIA_FILES

*venv
*node_modules

/frontend/build
