@layer base, component, utils;
@layer base {
	:root {
		--primaryColor--: #5ee5c4;
		--onPrimaryColor--: #222222;
		--secondaryColor--: #4606c6;
		--onSecondaryColor--: #f1f1f1;
		--surfaceColor--: #ffffff;
		--onSurfaceColor--: #333333;
		--errorColor--: rgba(240, 48, 83, 0.8862745098);
		--onErrorColor--: #ffffff;
		--successColor--: rgba(77, 245, 77, 0.7882352941);
		--onSuccessColor--: #f1f1f1;
		--backgroundImage--: none;
		--backgroundColor--: #fbfbfb;
		--onBackgroundColor--: #313131;
		--onBackgroundColorMuted--: #eff3f4;
		--neutralTextColor--: rgb(100, 95, 95);
		--neutralTextMutedColor--: #eff3f4;
		--baseMargin--: 1rem;
		--basePadding--: 1rem;
		--baseFontSize--: 1rem;
		--cardBoxShadow--: 0 0 1px rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
		--nav-height: 65px;
		--buttonBoxShadow--: 0px 2px 4px rgba(0, 0, 0, 0.2);
		--baseBorderRadius--: 1rem;
		--baseBorderSize--: 1px;
		--navbarBoxShadow--: 0 2px 6px rgba(0, 0, 0, 0.2);
	}
	.white {
		background-color: #ffffff;
	}
	.white-text {
		color: #ffffff;
	}
	.black {
		background-color: #000000;
	}
	.black-text {
		color: #000000;
	}
	.red {
		background-color: #ff0000;
	}
	.red-text {
		color: #ff0000;
	}
	.blue {
		background-color: #0000ff;
	}
	.blue-text {
		color: #0000ff;
	}
	.green {
		background-color: #028f02;
	}
	.green-text {
		color: #028f02;
	}
	.yellow {
		background-color: #ffff00;
	}
	.yellow-text {
		color: #ffff00;
	}
	.orange {
		background-color: #ffa500;
	}
	.orange-text {
		color: #ffa500;
	}
	.pink {
		background-color: #ff7a91;
	}
	.pink-text {
		color: #ff7a91;
	}
	.brown {
		background-color: #a52a2a;
	}
	.brown-text {
		color: #a52a2a;
	}
	.grey {
		background-color: #696969;
	}
	.grey-text {
		color: #696969;
	}
	.violet {
		background-color: #ee82ee;
	}
	.violet-text {
		color: #ee82ee;
	}
	.purple {
		background-color: #800080;
	}
	.purple-text {
		color: #800080;
	}
	.on-hover-white {
		transition: background-color 0.4s;
	}
	.on-hover-white:hover {
		background-color: #ffffff;
	}
	.on-text-hover-white {
		transition: color 0.4s;
	}
	.on-text-hover-white:hover {
		color: #ffffff;
	}
	.on-hover-black {
		transition: background-color 0.4s;
	}
	.on-hover-black:hover {
		background-color: #000000;
	}
	.on-text-hover-black {
		transition: color 0.4s;
	}
	.on-text-hover-black:hover {
		color: #000000;
	}
	.on-hover-red {
		transition: background-color 0.4s;
	}
	.on-hover-red:hover {
		background-color: #ff0000;
	}
	.on-text-hover-red {
		transition: color 0.4s;
	}
	.on-text-hover-red:hover {
		color: #ff0000;
	}
	.on-hover-blue {
		transition: background-color 0.4s;
	}
	.on-hover-blue:hover {
		background-color: #0000ff;
	}
	.on-text-hover-blue {
		transition: color 0.4s;
	}
	.on-text-hover-blue:hover {
		color: #0000ff;
	}
	.on-hover-green {
		transition: background-color 0.4s;
	}
	.on-hover-green:hover {
		background-color: #028f02;
	}
	.on-text-hover-green {
		transition: color 0.4s;
	}
	.on-text-hover-green:hover {
		color: #028f02;
	}
	.on-hover-yellow {
		transition: background-color 0.4s;
	}
	.on-hover-yellow:hover {
		background-color: #ffff00;
	}
	.on-text-hover-yellow {
		transition: color 0.4s;
	}
	.on-text-hover-yellow:hover {
		color: #ffff00;
	}
	.on-hover-orange {
		transition: background-color 0.4s;
	}
	.on-hover-orange:hover {
		background-color: #ffa500;
	}
	.on-text-hover-orange {
		transition: color 0.4s;
	}
	.on-text-hover-orange:hover {
		color: #ffa500;
	}
	.on-hover-pink {
		transition: background-color 0.4s;
	}
	.on-hover-pink:hover {
		background-color: #ff7a91;
	}
	.on-text-hover-pink {
		transition: color 0.4s;
	}
	.on-text-hover-pink:hover {
		color: #ff7a91;
	}
	.on-hover-brown {
		transition: background-color 0.4s;
	}
	.on-hover-brown:hover {
		background-color: #a52a2a;
	}
	.on-text-hover-brown {
		transition: color 0.4s;
	}
	.on-text-hover-brown:hover {
		color: #a52a2a;
	}
	.on-hover-grey {
		transition: background-color 0.4s;
	}
	.on-hover-grey:hover {
		background-color: #696969;
	}
	.on-text-hover-grey {
		transition: color 0.4s;
	}
	.on-text-hover-grey:hover {
		color: #696969;
	}
	.on-hover-violet {
		transition: background-color 0.4s;
	}
	.on-hover-violet:hover {
		background-color: #ee82ee;
	}
	.on-text-hover-violet {
		transition: color 0.4s;
	}
	.on-text-hover-violet:hover {
		color: #ee82ee;
	}
	.on-hover-purple {
		transition: background-color 0.4s;
	}
	.on-hover-purple:hover {
		background-color: #800080;
	}
	.on-text-hover-purple {
		transition: color 0.4s;
	}
	.on-text-hover-purple:hover {
		color: #800080;
	}
	body,
	body.default-mode {
		--primaryColor--: #5ee5c4;
		--onPrimaryColor--: #222222;
		--secondaryColor--: #4606c6;
		--onSecondaryColor--: #f1f1f1;
		--surfaceColor--: #ffffff;
		--onSurfaceColor--: #333333;
		--errorColor--: rgba(240, 48, 83, 0.8862745098);
		--onErrorColor--: #ffffff;
		--successColor--: rgba(77, 245, 77, 0.7882352941);
		--onSuccessColor--: #f1f1f1;
		--backgroundImage--: none;
		--backgroundColor--: #fbfbfb;
		--onBackgroundColor--: #313131;
		--onBackgroundColorMuted--: #eff3f4;
		color: var(--onBackgroundColor--);
		background-image: var(--backgroundImage--);
		background-color: var(--backgroundColor--);
	}
	body.high-contrast {
		--primaryColor--: #ffff00;
		--onPrimaryColor--: #202020;
		--secondaryColor--: #69a6f0;
		--onSecondaryColor--: #222222;
		--surfaceColor--: #1a1a1a;
		--onSurfaceColor--: #efeded;
		--errorColor--: #ff002f;
		--onErrorColor--: #ffffff;
		--successColor--: #00ff00;
		--onSuccessColor--: #130101;
		--backgroundImage--: none;
		--backgroundColor--: #000000;
		--onBackgroundColor--: #dfdddd;
		--onBackgroundColorMuted--: #2f3336;
		color: var(--onBackgroundColor--);
		background-image: var(--backgroundImage--);
		background-color: var(--backgroundColor--);
	}
	body.light-mode {
		--primaryColor--: #32deb4;
		--onPrimaryColor--: #ffffff;
		--secondaryColor--: #2d46ff;
		--onSecondaryColor--: #f1f1f1;
		--surfaceColor--: rgb(247, 249, 249);
		--onSurfaceColor--: #222222;
		--errorColor--: rgba(240, 48, 83, 0.8862745098);
		--onErrorColor--: #ffffff;
		--successColor--: rgba(38, 227, 38, 0.7882352941);
		--onSuccessColor--: #f1f1f1;
		--backgroundImage--: none;
		--backgroundColor--: #ffffff;
		--onBackgroundColor--: #404040;
		--onBackgroundColorMuted--: #dce1e2;
		color: var(--onBackgroundColor--);
		background-image: var(--backgroundImage--);
		background-color: var(--backgroundColor--);
	}
	body.dark-mode {
		--primaryColor--: hsl(168deg, 75%, 32%);
		--onPrimaryColor--: #ffffff;
		--secondaryColor--: #008080;
		--onSecondaryColor--: #ffffff;
		--surfaceColor--: rgb(22, 24, 28);
		--onSurfaceColor--: rgba(241, 241, 241, 0.937254902);
		--errorColor--: #ff3d61;
		--onErrorColor--: rgba(255, 255, 255, 0.937254902);
		--successColor--: rgba(63, 248, 63, 0.8705882353);
		--onSuccessColor--: rgba(241, 241, 241, 0.9450980392);
		--backgroundImage--: none;
		--backgroundColor--: #000000;
		--onBackgroundColor--: #d6d9db;
		--onBackgroundColorMuted--: #2f3336;
		color: var(--onBackgroundColor--);
		background-image: var(--backgroundImage--);
		background-color: var(--backgroundColor--);
	}
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		list-style: none;
		color: inherit;
	}
	body {
		line-height: 1;
		min-height: 100vh;
		-webkit-font-smoothing: antialiased;
	}
	body,
	body * {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		transition: background-color, 0.8s ease-out color 0.8s ease-out;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: 1px;
		overflow-wrap: break-word;
		font-weight: normal;
		color: var(--onBackgroundColorLight--);
	}
	p {
		overflow-wrap: break-word;
	}
	#root,
	#__next {
		isolation: isolate;
	}
	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 10px;
		box-sizing: border-box;
	}
	@media (max-width: 480px) {
		.container {
			padding: 0 1px;
		}
	}
	.row {
		display: flex;
		flex-flow: row wrap;
	}
	.row.gap-1 {
		margin: 0 -0.3rem;
	}
	.row.gap-1 > * {
		padding: 0 0.5rem;
	}
	.gap-1 > * {
		gap: '0.5rem';
	}
	.row.gap-2 {
		margin: 0 -0.3rem;
	}
	.row.gap-2 > * {
		padding: 0 1rem;
	}
	.gap-2 > * {
		gap: '1rem';
	}
	.row.gap-3 {
		margin: 0 -0.3rem;
	}
	.row.gap-3 > * {
		padding: 0 1.5rem;
	}
	.gap-3 > * {
		gap: '1.5rem';
	}
	.row.gap-4 {
		margin: 0 -0.3rem;
	}
	.row.gap-4 > * {
		padding: 0 2rem;
	}
	.gap-4 > * {
		gap: '2rem';
	}
	.row.gap-5 {
		margin: 0 -0.3rem;
	}
	.row.gap-5 > * {
		padding: 0 2.5rem;
	}
	.gap-5 > * {
		gap: '2.5rem';
	}
	@media (min-width: 0) {
		.col-1-xs {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-xs {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-xs {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-xs {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-xs {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-xs {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-xs {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-xs {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-xs {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-xs {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-xs {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-xs {
			flex-grow: 0;
			width: 100%;
		}
	}
	@media (min-width: 480px) {
		.col-1-sm {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-sm {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-sm {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-sm {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-sm {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-sm {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-sm {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-sm {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-sm {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-sm {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-sm {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-sm {
			flex-grow: 0;
			width: 100%;
		}
	}
	@media (min-width: 840px) {
		.col-1-md {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-md {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-md {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-md {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-md {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-md {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-md {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-md {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-md {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-md {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-md {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-md {
			flex-grow: 0;
			width: 100%;
		}
	}
	@media (min-width: 960px) {
		.col-1-lg {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-lg {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-lg {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-lg {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-lg {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-lg {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-lg {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-lg {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-lg {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-lg {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-lg {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-lg {
			flex-grow: 0;
			width: 100%;
		}
	}
	@media (min-width: 1280px) {
		.col-1-xl {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-xl {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-xl {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-xl {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-xl {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-xl {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-xl {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-xl {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-xl {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-xl {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-xl {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-xl {
			flex-grow: 0;
			width: 100%;
		}
	}
	@media (min-width: 1440px) {
		.col-1-xl {
			flex-grow: 0;
			width: 8.3333333333%;
		}
		.col-2-xl {
			flex-grow: 0;
			width: 16.6666666667%;
		}
		.col-3-xl {
			flex-grow: 0;
			width: 25%;
		}
		.col-4-xl {
			flex-grow: 0;
			width: 33.3333333333%;
		}
		.col-5-xl {
			flex-grow: 0;
			width: 41.6666666667%;
		}
		.col-6-xl {
			flex-grow: 0;
			width: 50%;
		}
		.col-7-xl {
			flex-grow: 0;
			width: 58.3333333333%;
		}
		.col-8-xl {
			flex-grow: 0;
			width: 66.6666666667%;
		}
		.col-9-xl {
			flex-grow: 0;
			width: 75%;
		}
		.col-10-xl {
			flex-grow: 0;
			width: 83.3333333333%;
		}
		.col-11-xl {
			flex-grow: 0;
			width: 91.6666666667%;
		}
		.col-12-xl {
			flex-grow: 0;
			width: 100%;
		}
	}
}
