/*  Login and signup */
.auth-card{
  display: flex;
  justify-content: center;
}

.auth-card > *{
  max-width: 400px;
  margin-top: 3rem;
  padding: 2rem;
  margin: 5rem 1rem;
}


.card-heading{
    letter-spacing: 2px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.card-heading.optioned{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.options-heading{
    text-align: center;
    margin-bottom: 1.5rem;
}

.signup-options .supporter:hover{
    background-color: rgb(2, 76, 76) !important;
    cursor: pointer;
}

.signup-options .celebrity:hover{
    cursor: pointer;
    background-color: hsl(239, 96%, 29%) !important
}


@keyframes error {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

/* Second state (signup) */

.second-state{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
    margin-top: 3rem;
}


.signup__extra__info input::placeholder{
    font-size: smaller;
}

.signup__extra__info .default__avater{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .signup__extra__info .card{
        margin: 0 .5rem;
    }
    .signup__extra__info .default__avater{
        width: 75px !important;
        height: 75px !important;
    }
    .signup__extra__info .default__avater > span{
        right: -20px;
    }
    .signup__extra__info button{
        padding: 1rem !important;
    }
}



