
.password-strength{
    display: flex;
    align-items: center;
    font-size: small;
}

.password-strength .percent{
    flex: 1;
    height: .1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.password-strength .label{
    font-size: .7rem;
    margin-left: 1rem;
}

.password-strength .percent .process{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    max-width: 100%;
    background-color: transparent;
    transition: all .7s ease-in-out;
}

.weak{
    width: 33%;
    background-color: rgb(246, 106, 106) !important;
}
.average{
    width: 66% !important;
    background-color: #ffd000 !important;
}
.strong{
    width: 100% !important;
    background-color: rgb(84, 240, 123) !important;
}