<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    {{message}}
    {% endfor %}

    {% if register %}
    <p>
        <h2>Sign Up As</h2>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="signup_as" value="Celebrity">
            <button type="submit">Celebrity</button>
        </form>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="signup_as" value="Supporter">
            <button type="submit">Supporter</button>
        </form>
    </p>
    {% elif login %}
        <form method="post">
            <h5>Login</h5>
            {% csrf_token %}
            {{form.as_p}}
        </form>
    {% elif signup %}
    <h4>{{user_type}}</h4>
        <form method="post">
            <h5>Register</h5>
            {% csrf_token %}
            {{form.as_p}}
        </form>
    {% endif %}
</body>
</html>

