/* Post Container */

/* Post card */

.post__container {
	max-width: 635px;
}

@media (max-width: 725px) {
	.new__post .post__features .tag-name {
		font-size: 0.9rem;
		margin-left: 0.3rem;
	}
}
@media (max-width: 650px) {
	.new__post .post__features .icon-wrapper {
		max-width: 1rem;
		max-height: 1rem;
	}
	.new__post .post__features .tag-name {
		font-size: 0.7rem;
		margin-left: 0.3rem;
	}
}
@media (max-width: 600px) {
	.new__post .post__features {
		padding: 0.3rem 0;
		margin: 0;
		margin-top: 0.5rem;
	}
	.new__post .post__features .icon-wrapper {
		max-width: 1.5rem;
		max-height: 1.5rem;
	}
	.new__post .post__features .tag-name {
		font-size: 1rem;
		margin-left: 0.5rem;
	}
}
@media (max-width: 500px) {
	.new__post .post__features .icon-wrapper {
		max-width: 1rem;
		max-height: 1rem;
	}
	.new__post .post__features .tag-name {
		font-size: 0.9rem;
		margin-left: 0.2rem;
	}
}
@media (max-width: 450px) {
	.new__post .post__features .tag-name {
		font-size: 0.7rem;
	}
	.post__container {
		margin: 0;
	}
}
@media (max-width: 390px) {
	.new__post {
		min-width: 200px;
	}
	.new__post .post__features .tag-name {
		font-size: 0.8rem;
	}
}
@media (max-width: 295px) {
	.new__post .post__features .icon-wrapper {
		max-width: 0.7rem;
		max-height: 0.7rem;
	}
	.new__post .post__features .tag-name {
		font-size: 0.5rem;
	}
}

.post__interactions .liked__by__users {
	margin-bottom: 2rem;
}

.post__interactions .liked__by__users .user {
	cursor: pointer;
}

.post__interactions .liked__by__users .user img {
	border: 1px solid #999;
	object-fit: fill;
}

.post__interactions .liked__by__users .user:nth-child(1) {
	left: 0%;
}
.post__interactions .liked__by__users .user:nth-child(2) {
	left: 20px;
}
.post__interactions .liked__by__users .user:nth-child(3) {
	left: 40px;
}
.post__interactions .liked__by__users .user:nth-child(4) {
	left: 60px;
}
.post__interactions .liked__by__users .user:nth-child(5) {
	left: 80px;
}
.post__interactions .liked__by__users .user:nth-child(6) {
	left: 100px;
}

.post__interactions .recent__likes .__text {
	font-size: 0.7rem;
}

/* .dark-mode .post__interactions .interact .icon-wrapper:hover svg {
	fill: #eee;
}
.light-mode .post__interactions .interact .icon-wrapper:hover svg {
	fill: teal;
} */

/* Posts paginator */

.paginators > span {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 2px;
}

.paginators svg {
	aspect-ratio: 2;
	border-radius: 100%;
	background-color: gainsboro;
	width: 2.5rem;
}

@media (max-width: 500px) {
	.paginators {
		display: none;
	}
}

.cought-up {
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: alias;
}
