.alert-msg {
    display: flex;
    justify-content: center;
    max-width: 380px;
    width: 100%;
}
.alert-msg p{
    width: fit-content;
    font-size: small;
}

.timeout{
    animation-name: timeout;
    animation-duration: attr(timer);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes timeout {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
