.loader-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    min-height: .3rem;
    background-color: rgba(0,0,0,.1);
    display: flex;
    align-items: center;
}

.loader {
    position: absolute;
    background-color: #04b0b0;
    border-radius: 40%;
    height: .5rem;
    width: 200px;
    max-height: .2rem;

    animation-name: loading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes loading {
    0%{
        transform: translateX(-300%);
        /* left: -150px */
    }
    100%     {
        transform: translateX(300%);
        /* right: -170px */
    }
}