<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat</title>
    </head>
    <body>
        <h1>Let's Chat</h1>

        <form action="">
            <input type="text" placeholder="add chat" />
        </form>

        <div><p></p></div>
        <hr />
        <div id="chats"></div>
    </body>

    <script>
        const url = `ws://${window.location.host}/ws/socket-server/`
        const ChatConsumer = new WebSocket(url)

        const form = document.querySelector("form")
        const input = document.querySelector("input")
        const chats = document.querySelector("div#chats")

        form.addEventListener("submit", (e) => {
            e.preventDefault()

            ChatConsumer.send(
                JSON.stringify({
                    message: input.value,
                }),
            )
        })

        ChatConsumer.onmessage = function (ev) {
            const data = JSON.parse(ev.data)

            if (data.type === "chat") {
                let d = document.createElement("div")
                d.innerHTML = data.message
                chats.append(d)
            }

            console.log(data)
        }
    </script>
</html>
